
				<% if user_signed_in? %>
					<%= current_user.email %>
					<li class="col-md">
						<%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %>
					</li>
				<% else %>

					<li class="col-md">
						<%=link_to "Iniciar sesión", new_user_session_path %>	
					</li>

					<li class="col-md">
						<%=link_to "Crear cuenta", new_user_registration_path %>	
					</li>
<% end %>	


<p>Find me in app/views/welcome/index.html.erb</p>
